[submodule "minimal-notebook"]
	path = minimal-notebook
	url = https://github.com/thoth-station/s2i-minimal-notebook
[submodule "tensorflow-notebook"]
	path = tensorflow-notebook
	url = https://github.com/thoth-station/s2i-tensorflow-notebook
[submodule "scipy-notebook"]
	path = scipy-notebook
	url = https://github.com/thoth-station/s2i-scipy-notebook
